*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff
}

html, body{
    height:100%;
    width:100%;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 150px;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;
    position:fixed;
    z-index: 2; 
}

#nav img {
    height: 130px;
    width: 150px;
    padding: 2px;
    align-self: flex-start;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 600;
}

.background video{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

#main{
    /* height: 100%;
    width:100%; */
    position: relative;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 1;
    overflow-x: hidden;
}

#page1{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1{
    font-size: 100px;
    position:relative;
}

#page1 h1::before{ /*this lets css write pseudo words*/
    content:"SLEEP . STREAM . REPEAT "; /*content is the must have element in the before structure*/
    position:absolute;
    color: #c6f020;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1px #c6f020;  /*this feature allows you to have a kinda border of each letter in the element*/
    /* we have to pass on two parameters: 1)width 2)color */
    /* z-index:1 ; */
}

#page1 h2{
    font-size: 30px;
}

#page2 {
    height: 300px;
    width:100%;
}

#cursor{
    height:20px;
    width:20px;
    position:fixed;
    background-color: #c6f020;
    border-radius: 50%;     
    z-index: 10;
    filter:blur(30px)
}

#cursor-blur{
    height:400px;
    width:400px;
    position:fixed;
    background-color: #ccff005a;
    border-radius: 50%;  
    filter:blur(50px)   
}





.blur {
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1s ease;
}


#about{
    height: 25vh;
    width:100%;
    /* background-color: blueviolet; */
}
#about h2 {
    text-align: center;
    justify-content: center;
    color: #c6f020;
    font-size: 30px;
}

#about p {
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    width: 750px;
    height: 10px;
    margin-left: 390px;
    padding-top: 10px;
}

#page3{
    height: 100%;
    width:100%;
}

@keyframes scroll {
    50% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(7%);
    }
}


#scroller::-webkit-scrollbar{
    display:none;
}

#scroller1 {
    display: flex;
    justify-content: left; /* Centers h3 horizontally */
    width: 100%; 
    animation-name: scroll;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

#scroller1 h3{
    /* margin-left: 190px; */
    text-align: center;
    display:inline-block;
    font-size: 50px;
    color:transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-transform: uppercase;
}

#scroller1 h3:hover{
    color: #c6f020;
}

#container1{
    display:flex;
    margin-top: 15px;
    white-space: wrap;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
}


.card{
    height: 250px;
    width: 400px;
    border-radius:10%;
    background-color: #fff;
    margin-left:20px;
    overflow: hidden;
    animation-name:scroll;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}


#scroller2 {
    display: flex;
    justify-content: left; /* Centers h3 horizontally */
    width: 100%; 
}

#scroller2 h3{
    /* margin-left: 190px; */
    text-align: center;
    display:inline-block;
    font-size: 50px;
    color:transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-transform: uppercase;
}

#scroller2 h3:hover{
    color: #c6f020;
}

#container2{
    animation-name:scroll;
    animation-duration: 7s;
    display:flex;
    margin-top: 15px;
    white-space: wrap;
    overflow: hidden;
    overflow-x: hidden;
    animation-name:scroll;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    position: relative;
    z-index: 10;
}
